<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Landing</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../bootstrap-5.1.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css">
    <script src="https://kit.fontawesome.com/4f8d592570.js" crossorigin="anonymous"></script>

</head>

<body>
<!-------------------------------------- navbar ------------------------------------------>
    <nav class="custom-navbar d-flex justify-content-center">
        <div class="py-1 d-flex justify-content-between w-75 my-4">
            <div>
                <h2 class="fw-bold">OneSoil</h2>
            </div>

            <div class="py-2">
                <a class="btn px-2 text-center links" href="#">Home</a>
                <a class="btn px-2 text-center links" href="#">Sensors</a>
                <a class="btn px-2 text-center links" href="#">Platform</a>
                <a class="btn px-2 text-center links" href="#">Technology</a>
            </div>

            <a href="#" class="btn text-center py-1 login"><i class="fa-regular fa-user "></i> Log in</a>
        </div>
    </nav>


<!------------------------------------- section ------------------------------------------->
    <div class="container-custom d-flex flex-wrap justify-content-center align-items-center px-5">
        <!-- @*----------------------------1st content-----------------------------------*@ -->
        <div class="content1 d-flex justify-content-evenly flex-wrap">
            <div class="my-5">
                <h1 class="fw-bold mb-4">Make reliable<br> agricultural decisions<br> with AI</h1>
                <p class="fw-bold">
                    Get to know about the field in seconds and take informed actions<br>
                    with the OneSoil platform.To make farming simple<br>
                    we analyze satallite images with machine learning <br>
                    technologies. For free
                </p>
                <div class="email d-flex justify-content-evenly align-items-center mt-5 mb-2 rounded">
                    <input type="email" id="email" placeholder="Enter your email" />
                    <a href="#" class="btn btn-success login py-2">Get Started</a>
                </div>
                <div class="d-flex txt-login px-1">
                    <p class="px-2">Already hava an account?</p>
                    <a href="#" class="fw-bold px-1">Log in</a>
                </div>
            </div>
            <div class="mb-5 image">
                <img src="../images/farmer-using-automated-watering-copter.svg" alt="err" />
            </div>
            <div class="icons d-flex justify-content-between align-items-center my-5">
                <div class="px-5 text-center">
                    <i class="fa-brands fa-pagelines fs-2"></i>
                    <h5 class="my-2">Easly added fields</h5>
                    <p class="fw-lighter txt-items">we found all fields in Egypt..<br> simply choose yours</p>
                </div>
                <div class="px-5 text-center">
                    <i class="fa-solid fa-database fs-2"></i>
                    <h5 class="my-2">Fast Data processing</h5>
                    <p class="fw-light txt-items">We show a current photo of the field <br>in a second </p>
                </div>
                <div class="px-5 text-center">
                    <i class="fa-solid fa-mobile-screen-button fs-2"></i>
                    <h5 class="my-2">Website and mobile app</h5>
                    <p class="fw-light txt-items">It's free. Works anywhere with<br> an internet connection</p>
                </div>
            </div>
        </div>
<!-- @*----------------------------2nd content-----------------------------------*@ -->
        <div class="content2 d-flex justify-content-center px-3 py-4">
            <div class="d-flex flex-column justify-content-evenly w-50">
                <div>
                    <h1 class="fw-bold mb-4 mx-4">Lorem ipsum dolor sit amet consectetur</h1>
                    <p class="fw-bold mx-4">
                        Get to know about the field in seconds and take informed actions<br>
                        with the OneSoil platform.To make farming simple<br>
                        we analyze satallite images with machine learning <br>
                        technologies. For free
                    </p>
                </div>
                <div class="icons my-5 row row-cols-2 ">
                    <div class="px-5 col mb-5">
                        <div class="d-flex">
                            <i class="fa-brands fa-pagelines fs-2 mx-3"></i>
                            <h5 class="my-2">Fields</h5>
                        </div>
                        <p class="fw-light txt-items">Find your field on the map.. we will allcoate its boundaries and
                            detect the crop</p>
                    </div>
                    <div class="px-5 col mb-5">
                        <div class="d-flex">
                            <i class="fa-solid fa-location-dot fs-2 mx-3"></i>
                            <h5 class="my-2">Scouting and notes</h5>
                        </div>
                        <p class="fw-light txt-items">Monitor plants and leave notes</p>
                    </div>
                    <div class="px-5 col">
                        <div class="d-flex">
                            <i class="fa-brands fa-canadian-maple-leaf fs-2 mx-3"></i>
                            <h5 class="my-2">Fertilizers</h5>
                        </div>
                        <p class="fw-light txt-items">Determine variable rates<br>for niterogen ..etc.</p>
                    </div>
                    <div class="px-5 col">
                        <div class="d-flex">
                            <i class="fa-solid fa-cloud fs-2 mx-3"></i>
                            <h5 class="my-2">Weather</h5>
                        </div>
                        <p class="fw-light txt-items">Check the weather forcast for the field for 5 days</p>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <img src="../images/smart-agriculture-iot-with-hand-planting-tree-background.jpg" alt="err" />
            </div>
        </div>
        
<!-------------------------------------------- footer--------------------------------------------->
        <div class="footer d-flex flex-column justify-content-evenly align-items-center w-100 h-100">
            <div class="icons d-flex justify-content-center align-items-center py-5">
                <div class="btn-custom">
                    <div class="icons">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </div>
            
                <div class="btn-custom">
                    <div class="icons">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            
                <div class="btn-custom">
                    <div class="icons">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            
            </div>
            <h5 class="fw-bold">All Rights Reserved | View Non-AMP Version</h5>
            <p class="my-1"><i class="fa-solid fa-at mx-1"></i>2023</p>
        </div>
    </div>
 
</body>

</html>