.flip-card {
    position: relative;
    width: 280px;
    height: 350px;
    border-radius: 15px;
    cursor: pointer;
}

.front-card img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 18px;
}
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
}
.card:hover{
    transform: rotateY(180deg);
}
.front-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}
.back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.55);
    border-radius: 18px;
    transform: rotateY(180deg);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}

.back-card a{
    background-color: #44bd32;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.back-card a:hover{
    border: 2px solid #44bd32;
    color: #44bd32;
    background-color: rgba(255, 255, 255, 0.85);
}
.back-card h3{
    text-transform: capitalize;
    color:#44bd32;  
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}