*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.footer{
    background-image: url("../images/pexels-fwstudio-164005.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.9) 0px 18px 30px -18px inset;
    /* height: 35vh; */
}
.footer .icons i{
    cursor: pointer;
    color: #fff;
    filter: drop-shadow(2px 2px 2px #000);
}
.footer .icons i:first-child:hover{
    color: #326f96;
}
.footer .icons i:last-child:hover{
    color: #4ba7e2;
}
.footer h5{
    filter: drop-shadow(2px 2px 2px #000);
}
.footer p{
    filter: drop-shadow(2px 2px 2px #000);
}
.footer > p {
    font-size: 13px;
}
.footer > p > i {
    font-size: 10px;
}
