.footer > div.icons {
    position: relative;
    height: 170px;
}
.footer > div.icons::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -20%;
    width: 140%;
    height: 1px;
    background-color: #939393;
    margin: -26px 0px;
}
.footer > p {
    font-size: 13px;
    color: #939393;
}
.footer > p > i {
    font-size: 10px;
}
.btn-custom {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
.btn-custom .icons {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
}
.btn-custom:nth-child(1) .icons {
    background: #4267b2;
}
.btn-custom:nth-child(1) .icons:hover{
    opacity:0.85;
}
.btn-custom:nth-child(1) i {
    color: #ffffff;
}
.btn-custom:nth-child(2) .icons {
    background: #1da1e2;
}
.btn-custom:nth-child(2) .icons:hover {
    opacity: 0.85;
}
.btn-custom:nth-child(2) i {
    color: #ffffff;
}
.btn-custom:nth-child(3) .icons {
    background: linear-gradient(220deg,#e1316c,#fbc531);
}
.btn-custom:nth-child(3) .icons:hover {
    opacity: 0.85;
}
.btn-custom:nth-child(3) i {
    color: #fff;
}
.btn-custom > .icons {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btn-custom .icons i {
    font-size: 20px;
    line-height: 60px;
}