/******************************************* imports ******************************************/
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,800&display=swap');
@import url("../styles/navbar.css");
@import url("../styles/footer.css");
/* @import url("../styles/cards.css"); */
/******************************************* imports ******************************************/
/******************************************* Start general*************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 0.96rem;
}
/******************************************* End general *****************************************/
/******************************************* Start landing-content ***********************************/
.custom-container {
    background-image: url(../images/8400.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.glassess{
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.29);
}
.landing-content ul li{
    width: 120px;
    height: 55px;
}
.landing-content h2{
    color: rgba(255, 255, 255, 0.9);
}
.landing-content p{
    color: rgba(255, 255, 255, 0.9);
}
.landing-content ul li:first-child{
    background-color: #44bd32;
}
.landing-content ul li:nth-child(2){
    background-color: rgba(0, 0, 0, 0.24);
    border: 1px solid #ffff;
}
.landing-content ul li:nth-child(2):hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.landing-content ul li:hover a{
    color: #fff;
}
.landing-content ul li:hover{
    background-color: rgba(0, 0, 0, 0.24);
    border: 1px solid #fff;
}
/************************************** End Contnet-one *********************************/
/**************************************Start Category *********************************/
.category{
    display: grid;
    grid-template-columns: repeat(2,minmax(300px,1fr));
    gap: 20px;
}
.category img{
    width: 100%;
    height: 100%;
    border-radius:49% 51% 67% 33% / 56% 38% 62% 44% ;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.1) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.category h2{
    color: #4cd137;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.category a{
    color: #44bd32;
}
.category a:hover{
    color: rgba(0, 0, 0, 0.53);
}

/************************************ End Category **********************************/
/************************************ Start About ***********************************/
.services ul li{
    list-style: circle;
}
.services ul li h5{
    color: #44bd32;
    font-weight: 700;
}
.services ul::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
}
/************************************ End About ************************************/
@media(max-width:767px){
    .services ul::before{
        display: none;
    }
    .services ul::after{
        content: "";
        position: absolute;
        top: -9px;
        left: 12px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.33);
    }
    .services .intro{
        width: 100% !important;
    }
}
@media (max-width:720px) {
    .category{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}
