.navbar{
    height: 80px;
}
.navbar li{
    position: relative;
}

.navbar li::after{
    content: "";
    position: absolute;
    padding-left: 12px;
    top: 80%;
    left: 0;
    width:0;
    height:0;
    background-color: #3cb251;
    transition: all 0.3s ease-in-out;
}
.navbar li:hover::after{
    width: 100%;
    height: 2px;
}
.navbar ul li a{
    color: rgba(0,0,0,0.8);
}
.navbar ul li:hover a{
    color: #3cb251;
}
.navbar ul li a {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.9);
}
.navbar .logo a{
    font-size: 1.5rem;
    color: #44bd32;
}

.navbar .toggle-btn{
    font-size: 1.5rem;
    cursor: pointer; 
}
.action-btn{
    border: none;
    outline: none;
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    background-color: #44bd32;
}
.action-btn:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.24);
}

/* start dropdown-list */
.dropdown-list{
    position: absolute;
    top: 60px;
    right: 40px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    z-index: 12;
}
.dropdown-list li:not(:last-child){
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown-list li:hover{
    background-color: green;
}
.dropdown-list.open{
    height: fit-content;
}
.dropdown-list .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* End navbar */
/* Start Resbonsive  */
@media(max-width: 992px){
    .navbar .nav-items , .navbar .action-btn{
        display: none !important;
    }
    .navbar .toggle-btn{
        display: block !important;
    }
    .dropdown-list{
        display: block !important;
    }
}
@media(max-width:576px){
    .dropdown-list{
        left: 2rem;
        width: unset;
    }
}
/* End Resbonsive  */